 .mapDataTable
	{	
	font: 10px tahoma, sans-serif;	
	background-color:#FFFFFF;
	border-bottom:1px solid black;
	border-left:1px solid black;
	}
	
 .mapTable
	{
	border-top:1px solid black;
	border-bottom:1px solid black;
	border-left:1px solid black;
	border-right:1px solid black;
	}	
	
 .northTable
	{	
	font: 10px tahoma, sans-serif;	
	background-color:#FFFFFF;
	border-top:1px solid black;
	border-bottom:1px solid black;
	border-left:1px solid black;
	border-right:1px solid black;
	}	
 .commentTable
	{	
	font: 10px tahoma, sans-serif;	
	background-color:#FFFFFF;
	border-top:1px solid black;
	border-bottom:1px solid black;
	border-left:1px solid black;
	border-right:1px solid black;
	}	